<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<ul>
    {% for hero in page%}
    <li>{{hero.hname}}</li>
    {%endfor%}
</ul>

<br>
     {% for index in page.paginator.page_range%}
        {% if index == page.number%}
            {{index}}
        {% else %}
        <a href="/herolist/{{index}}">{{index}}</a>
        {% endif %}
      {%endfor%}
</body>
</html>