<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'booktest:show' '456' %}">显示</a>     
    <ul>
        {%for hero in list%}
            {%  if forloop.counter|divisibleby:"2"%}
        <li style="color:red ">{{forloop.counter}}:{{hero.showname}}</li>
            {%else%}
            <li style="color:blue ">{{forloop.counter}}:{{hero.showname}}</li>

            {%endif%}
        {%empty %}
            <li>啥也没找到</li>
        {%endfor%}
    </ul>

</body>
</html>